@use 'styles/variables.scss';
@use 'styles/mixins.scss';
@use 'styles/reset.scss';
@use 'styles/global.scss';

.app-container {
  width: 100%;
  height: 100%;
  padding: variables.$spacing-md;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mixins.tablet {
    padding: variables.$spacing-lg;
  }

  @include mixins.desktop {
    padding: variables.$spacing-xl;
  }
}